@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

:root {
  --font-color-light: #fff;
  --font-color-dark: #000;
  --background-color-light: #fff;
  --background-color-dark: #02040a;
  --gray-01: #434343;
}

body {
  font-family: Rajdhani, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  background: var(--background-color-dark);
  color: var(--font-color-light);
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.navbar_list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 40px;
  gap: 24px;
  list-style: none;
  background-color: var(--gray-01);
  border-radius: 12px;
  padding: 12px 24px 12px 24px;
}

.navbar_list_item {
  font-weight: 600;
  color: var(--font-color-light);
}
