@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
  --color-dark: #02040a;
  --color-gray-01: #434343;
  --color-gray-02: #242424;
  --color-gray-03: rgba(156, 155, 156, 25);
  --color-gray-04: #3e3e3e;
  --color-light: #fff;
  --color-blue: #1683ff;
  --color-yellow: #e3cd3c;
}

/*  BASE  */
.body {
  background-color: #0f0f0f;
  color: #fff;
  padding: 1.5rem;
  font-family: Rajdhani, system-ui, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h1,
h2,
h3,
h4 {
  font-size: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/*  NAVBAR  */
.navbar {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--color-gray-01);
  border-radius: 0.75rem;
  position: fixed;
  z-index: 2;
}

.navbar-item {
  font-weight: 600;
}

/*  INTRODUCTION  */
.introduction {
  height: 55rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  padding: 8rem 4rem;
}

.intro-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 5.188rem 2.5rem;
}

.intro-badge {
  background-color: var(--color-gray-02);
  border-radius: 1.25rem;
  border: 2px solid var(--color-gray-03);
  font-weight: 600;
  font-size: 0.875rem;
  width: fit-content;
  padding: 0.625rem 1.5rem;
}

.intro-heading {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.intro-title {
  font-size: 2.5rem;
  font-weight: 800;
}

.intro-subtitle {
  font-size: 1.5rem;
}

.intro-socials {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.intro-photo-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.125rem 2.5rem;
}

.intro-photo {
  width: 325px;
  height: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.75rem;
  background-color: var(--color-gray-01);
  transform: rotate(45deg);
}

.intro-photo-img {
  width: 120%;
  height: 120%;
  margin-top: 2.75rem;
  margin-left: 2.75rem;
  transform: rotate(-45deg);
}

/*  OVERVIEW  */
.overview {
  height: 55rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  padding: 8rem 4rem;
}

.overview-image {
  width: 50%;
}

.overview-image img {
  width: 100%;
  height: auto;
}

.overview-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3.125rem;
  font-size: 1.5rem;
}

/*  SHOWCASE  */
.showcase {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 8rem 5rem;
}

.showcase-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showcase-title {
  font-size: 2.125rem;
  font-weight: 700;
}

.showcase-link {
  font-size: 1rem;
  font-weight: 700;
}

.showcase-list {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding: 1.5rem 0;
  align-items: center;
}

.showcase-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--color-gray-04);
}

.showcase-image {
  width: 100%;
  height: 345px;
}

.showcase-image img {
  width: 100%;
  height: 345px;
  object-fit: cover;
  object-position: left top;
}

.showcase-info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.75rem;
}

.showcase-name {
  font-size: 1.25rem;
  font-weight: 600;
}

.showcase-type {
  font-size: 1.125rem;
  font-weight: 600;
}

.showcase-desc {
  font-size: 0.75rem;
}

/*  SKILLS  */
.skills {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 8rem 5rem;
}

.skills-title {
  font-size: 2.125rem;
  font-weight: 700;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.skill-card {
  width: 100%;
  height: 6.25rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  background-color: var(--color-gray-04);
}

.skill-card:nth-child(even) {
  background-color: var(--color-gray-01);
}

.skill-card figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-card span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray-02);
  font-size: 1.875rem;
  font-weight: 600;
}

/*  FOOTER  */
.footer {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding: 1.5rem 4rem;
  align-items: center;
}

.footer-about,
.footer-links,
.footer-contact {
  width: 100%;
  height: 13rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 2.5rem 0.75rem;
}

.footer-about p {
  font-size: 1.125rem;
}

.footer-about span {
  font-size: 1rem;
  font-weight: 600;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.footer-links h4,
.footer-contact h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

.footer-links h4 {
  text-align: center;
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  text-align: center;
  font-size: 1.125rem;
}

.footer-contact p {
  font-size: 1.125rem;
}

.footer-button {
  width: fit-content;
  background-color: var(--color-gray-04);
  color: var(--color-light);
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  cursor: pointer;
}
