@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

body {
  font-family: Rajdhani, system-ui, sans-serif;
}

@theme {
  --color-dark: #02040a;
  --color-gray-01: #434343;
  --color-gray-02: #242424;
  --color-gray-03: rgba(156, 155, 156, 0.25);
  --color-gray-04: #3e3e3e;
  --color-light: #ffffff;
  --color-blue: #1683FF;
  --color-yellow: #E3CD3C;
}
